:root {
  --accent: #eb4d4d;
  --foreground: #ddd;
  --primary: #202020;
  --title-bar: #1c1c1c;
  --scroll-bar-bg: #333;
  --scroll-bar-thumb: #ccc;
}

/* :root {
  --accent: #a8ddcd;
  --foreground: #333;
  --primary: #ddd;
  --title-bar: #ccc;
  --scroll-bar-bg: #ccc;
  --scroll-bar-thumb: #333;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--primary);
  color: var(--foreground);
  overflow-x: hidden;
  transition: background-color 0.2s;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb);
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg);
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.title-bar {
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;
  width: 100%;
  padding-left: 10px;
  background-color: var(--title-bar);
  font-family: "Source Sans Pro", serif;
  user-select: none;
  -webkit-app-region: drag;
  z-index: 999;
}

.title-bar-controls-container {
  display: inline-flex;
  align-items: center;
  height: 100%;
  transform: translateY(0.5px); /* hack to center the controls */
}

.title-bar-controls-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  list-style-type: none;
  -webkit-app-region: no-drag;
}

.title-bar-control {
  display: inline-block;
  height: 100%;
}

.title-bar-control-heading {
  height: 100%;
  font-size: 0.75rem;
  margin-right: 10px;
  padding: 0 5px;
  transition: background-color 0.1s;
  user-select: none;
  -webkit-app-region: no-drag;
}

.title-bar-control-heading:hover {
  background-color: #aaa;
  color: #333;
}

.title-bar-control-heading-active {
  background-color: #aaa !important;
  color: #333 !important;
}

.title-bar-dropdown {
  position: absolute;
  transform: translateY(-1px);
  height: fit-content;
  width: 250px;
  background-color: var(--foreground);
  visibility: hidden;
  z-index: 999;
}

.title-bar-dropdown hr {
  margin: 0 15px;
  border-style: solid;
  border-color: var(--primary);
  border-width: 1px;
}

.title-bar-dropdown-content {
  position: relative;
  margin: 5px 0;
  padding: 10px 15px;
  color: var(--primary);
  font-size: 0.8rem;
  transition: background-color 0.2s;
  transition: color 0.1s;
}

.title-bar-dropdown-content:hover {
  background-color: var(--primary);
  color: var(--foreground);
}

.title-bar-dropdown-shortcut {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  font-size: 0.6rem;
  text-transform: uppercase;
  word-spacing: 0.25rem;
}

.window-buttons-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  display: flex;
  align-items: center;
  height: 100%;
  width: 90px;
}

.window-button {
  height: 100%;
  width: 33%;
  padding: 5px 10px;
  transition: background-color 0.25s;
  -webkit-app-region: no-drag;
}

.window-button:hover {
  background-color: #aaa;
}

.window-button-close:hover {
  background-color: var(--accent);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 20px);
  padding: 50px;
  font-family: "JetBrains Mono", monospace;
}

.sidebar-container {
  position: relative;
  height: 100%;
  width: 20%;
  margin-right: 20px;
  overflow-x: hidden;
}

.sidebar-text {
  position: relative;
  margin: 10px 0;
  font-size: 0.75rem;
  cursor: pointer;
  transition: text-decoration 0.2s;
}

.sidebar-text:hover {
  text-decoration: underline;
}

.sidebar-text-active {
  color: #eb4d4d;
}

.sidebar-text-active:hover {
  text-decoration: none;
}

/* .sidebar-text-active::after {
  content: "  <";
  color: var(--accent);
} */

.sidebar-text-unsaved::before {
  content: "(unsaved)  ";
}

.editor-container {
  height: 100%;
  width: 80%;
}

.editor {
  height: 95%;
  width: 100%;
  margin-bottom: 10px;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.75rem;
  background-color: transparent;
  color: var(--foreground);
  overflow-y: scroll;
  border: none;
  outline: none;
  resize: none;
  user-select: text;
}

.editor::selection {
  background-color: var(--accent);
  color: #ddd;
}

.editor-details-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 5%;
  width: 100%;
  font-size: 0.7rem;
  border-top: 1px solid rgba(170, 170, 170, 0.33);
  letter-spacing: 0.15rem;
}

.percent-bar-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.percent-bar-active {
  color: var(--accent);
  font-weight: 800;
}

.last-save-container {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}

.last-save-container p {
  letter-spacing: 0.025rem;
}
