:root {
  --primary: #ddd;
  --foreground: #333;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "JetBrains Mono", monospace;
  background-color: var(--primary);
  padding: 30px 50px;
}

pre {
  padding: 15px 0;
  background-color: var(--foreground);
  color: var(--primary);
  font-family: monospace;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 2;
}

a {
  color: rgb(59, 154, 168);
}

a:visited {
  color: rgb(59, 154, 168);
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.logo-img {
  height: 100%;
}

.banner-heading {
  display: inline-block;
  height: 100%;
  margin-right: 50px;
  font-size: 5rem;
}

.main-text-container {
  color: var(--foreground);
  padding: 50px;
  line-height: 2;
}

.roadmap-container {
  width: 100%;
  padding: 50px;
}

.roadmap {
  padding: 10px 0;
  text-align: center;
}

.milestone {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 38px auto;
}

.milestone-dot {
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--foreground);
  border-radius: 500px;
}

.milestone-dot-completed {
  background-color: var(--foreground);
}

.milestone-connecter-up {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 20px;
  background-color: var(--foreground);
}

.milestone-connecter-down {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 20px;
  background-color: var(--foreground);
}

.about-container {
  padding: 50px;
}
