:root {
  --color-1: #1b1717;
  --color-2: #e84545;
  --color-3: #903749;
  --color-4: #53354a;
  --foreground: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-1);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h4,
p {
  letter-spacing: 0.075rem;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  color: var(--color-2);
}

.nav-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 50px;
  background-color: var(--color-2);
}

.nav-heading {
  font-family: "JetBrains Mono", monospace;
  font-size: 2rem;
  color: var(--foreground);
}

.nav-list {
  margin-left: auto;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--foreground);
  list-style: none;
}

.nav-list li {
  display: inline-block;
  margin: 0 5px;
}

.banner-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 90%;
  width: 100%;
}

.banner-container img {
  height: 90%;
  transform: translateX(70%);
}

.banner-text-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 450px;
}

.banner-text-container h4 {
  color: var(--foreground);
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 2;
}

.feature-container {
  margin-top: 100px;
}

.feature-container h1 {
  text-align: center;
  margin-bottom: 100px;
}

.feature {
  width: 85%;
  margin: 50px auto;
}

.feature-heading {
  color: var(--color-2);
  margin: 25px 0;
}

.feature-text {
  font-size: 0.85rem;
  color: var(--foreground);
}

.install-container {
  margin: 100px 0;
}

.install-container h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}

.install {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: var(--foreground);
  font-family: "JetBrains Mono", monospace;
}

.install h4 {
  margin: 25px;
}

.btn {
  padding: 10px 20px;
  background-color: var(--color-2);
  color: var(--foreground);
  border: none;
  outline: none;
}

.latest-release {
  margin-right: 33%;
}

.manual-download h3 {
  color: var(--foreground);
  text-decoration: underline;
}
