:root {
  --primary: #ddd;
  --foreground: #333;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: "JetBrains Mono", monospace;
  background-color: var(--primary);
  padding: 30px 50px;
}

pre {
  padding: 15px 0;
  background-color: var(--foreground);
  color: var(--primary);
  font-family: monospace;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 2;
  text-align: justify;
}

a {
  color: rgb(59, 154, 168);
}

a:visited {
  color: rgb(59, 154, 168);
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.logo-img {
  height: 100%;
}

.banner-heading {
  display: inline-block;
  height: 100%;
  margin-right: 50px;
  font-size: 5rem;
}

.main-text-container {
  color: var(--foreground);
  padding: 0 50px;
  line-height: 2;
}

.screenshot-container {
  padding: 0 50px;
}

.screenshot {
  height: auto;
  width: 66%;
  margin: 25px 0;
  border: 1px solid var(--foreground);
}

.roadmap-container {
  width: 100%;
  padding: 0 50px;
  padding-bottom: 0;
}

.roadmap {
  padding: 10px 0;
  text-align: center;
}

.milestone {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 38px auto;
}

.milestone-dot {
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--foreground);
  border-radius: 500px;
}

.milestone-dot-completed {
  background-color: var(--foreground);
}

.milestone-connecter-up {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 20px;
  background-color: var(--foreground);
}

.milestone-connecter-down {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 20px;
  background-color: var(--foreground);
}

.about-container {
  padding: 50px;
  padding: 0 50px;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0;
    padding-bottom: 50px;
    overflow-x: hidden;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.75rem;
    padding: 0 5px;
  }

  pre {
    font-size: 0.75rem;
    margin: 0 auto;
    width: 99%;
  }

  .banner-container {
    text-align: center;
    height: 60px;
    width: 100%;
  }

  .banner-container img {
    position: absolute;
    visibility: hidden;
  }

  .banner-heading {
    font-size: 3rem;
    margin: 0;
  }

  .main-text-container {
    width: 100%;
    padding: 50px 10px;
  }

  .main-text-container {
    padding-top: 25px;
  }

  .roadmap-container,
  .about-container,
  .screenshot-container {
    padding: 0 10px;
  }

  .screenshot {
    width: 100%;
  }

  .roadmap {
    padding-left: 10px;
  }

  .milestone {
    font-size: 0.8rem;
  }
}
