::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #903749;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: #53354a;
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
