<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Base</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <script>
      if (typeof module === "object") {
        window.module = module;
        module = undefined;
      }
    </script>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
      integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
      crossorigin="anonymous"
    ></script>
    <script>
      if (window.module) module = window.module;
    </script>
  </head>
  <body>
    <div class="title-bar">
      <div class="title-bar-controls-container">
        <ul class="title-bar-controls-wrapper">
          <li class="title-bar-control">
            <div class="title-bar-control-heading">File</div>
            <div class="title-bar-dropdown">
              <div class="title-bar-dropdown-content">
                New
                <div class="title-bar-dropdown-shortcut">ctrl + n</div>
              </div>
              <div class="title-bar-dropdown-content" onclick="openFile()">
                Open
                <div class="title-bar-dropdown-shortcut">ctrl + o</div>
              </div>
              <hr />
              <div class="title-bar-dropdown-content" onclick="saveFile()">
                Save
                <div class="title-bar-dropdown-shortcut">ctrl + s</div>
              </div>
              <div class="title-bar-dropdown-content">
                Save As...
                <div class="title-bar-dropdown-shortcut">ctrl + shift + s</div>
              </div>
              <hr />
              <div class="title-bar-dropdown-content">
                Exit
                <div class="title-bar-dropdown-shortcut">ctrl + q</div>
              </div>
            </div>
          </li>
          <li class="title-bar-control">
            <div class="title-bar-control-heading">Edit</div>
            <div class="title-bar-dropdown">
              <div class="title-bar-dropdown-content">
                Undo
                <div class="title-bar-dropdown-shortcut">ctrl + z</div>
              </div>
              <div class="title-bar-dropdown-content">
                Redo
                <div class="title-bar-dropdown-shortcut">ctrl + y</div>
              </div>
              <hr />
              <div class="title-bar-dropdown-content">
                Cut
                <div class="title-bar-dropdown-shortcut">ctrl + x</div>
              </div>
              <div class="title-bar-dropdown-content">
                Copy
                <div class="title-bar-dropdown-shortcut">ctrl + c</div>
              </div>
              <div class="title-bar-dropdown-content">
                Paste
                <div class="title-bar-dropdown-shortcut">ctrl + v</div>
              </div>
              <hr />
              <div class="title-bar-dropdown-content">Delete</div>
              <div class="title-bar-dropdown-content">
                Select All
                <div class="title-bar-dropdown-shortcut">ctrl + a</div>
              </div>
            </div>
          </li>
          <li class="title-bar-control">
            <div class="title-bar-control-heading">Preferences</div>
            <div class="title-bar-dropdown">
              <div class="title-bar-dropdown-content">Undo</div>
              <div class="title-bar-dropdown-content">Redo</div>
              <div class="title-bar-dropdown-content">Cut</div>
              <div class="title-bar-dropdown-content">Copy</div>
              <div class="title-bar-dropdown-content">Paste</div>
            </div>
          </li>
          <li class="title-bar-control">
            <div class="title-bar-control-heading">About</div>
            <div class="title-bar-dropdown">
              <div class="title-bar-dropdown-content">New</div>
              <div class="title-bar-dropdown-content">Open</div>
              <hr />
              <div class="title-bar-dropdown-content">Save</div>
              <div class="title-bar-dropdown-content">Save As...</div>
              <hr />
              <div class="title-bar-dropdown-content">Exit</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="window-buttons-container">
        <img
          class="window-button"
          onclick="minimizeWindow()"
          src="img/minimize.png"
        />
        <img
          class="window-button window-button-resize"
          onclick="toggleWindowSize()"
          src="img/maximize.png"
        />
        <img
          class="window-button window-button-close"
          onclick="closeWindow()"
          src="img/close.png"
        />
      </div>
    </div>

    <div class="main-container">
      <div class="sidebar-container">
        <!-- <div class="sidebar-text sidebar-text-active sidebar-text-unsaved">
          README.md
        </div> -->
      </div>
      <div class="editor-container">
        <textarea
          class="editor"
          id="editor"
          spellcheck="false"
          placeholder="Type here ..."
        ></textarea>
        <div class="editor-details-container">
          <div class="percent-bar-container">
            <p>
              0% <span class="percent-bar percent-bar-active">|</span
              ><span class="percent-bar">|</span
              ><span class="percent-bar">|</span
              ><span class="percent-bar">|</span
              ><span class="percent-bar">|</span
              ><span class="percent-bar">|</span
              ><span class="percent-bar">|</span
              ><span class="percent-bar">|</span
              ><span class="percent-bar">|</span
              ><span class="percent-bar">|</span
              ><span class="percent-bar">|</span> 100%
            </p>
          </div>
          <div class="last-save-container">
            <p>last save - 3 mins ago</p>
          </div>
        </div>
      </div>
    </div>

    <script src="js/index.js" async defer></script>
    <script src="js/titlebar.js" async defer></script>
    <script src="js/file.js" async defer></script>
    <script src="js/sidebar.js" async defer></script>
    <script src="js/editor.js" async defer></script>
  </body>
</html>
